<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @complaint.name %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @complaint.theme %>
</p>

<p>
  <strong>Company:</strong>
  <%= @complaint.company %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
